# ignore files
*~
.Rhistory
.Rbuildignore
.Rproj.user/
.directory
*.pyc
*.DS_Store
*.bam
*.bam.bai
align_data_1stadd/
align_data_1stadd_virus1/
align_data/
scripts/.history
results/.history
.history
geneset/
results/animation_merge/
refs/
align_data_soil/